<ng-include src="'app/views/search.tmpl.html'"></ng-include>
<div class="container in-dramadetails">
    <div class="row">
        <div class="col-xs-12 col-md-4 poster-div">
            <img src="{{dramaVm.drama.poster}}" class="img-responsive poster-image" alt="{{dramaVm.drama.title}}">
        </div>
        <div class="col-xs-12 col-md-6 dramadetails">
            <p><h3>{{dramaVm.drama.title}}</h3></p>
            <p>{{dramaVm.drama.type}} | {{dramaVm.drama.language}} | {{dramaVm.drama.rated}} | {{dramaVm.drama.released}} ({{dramaVm.drama.country}}) | {{dramaVm.drama.runtime}} | {{dramaVm.drama.genre}}</p>
            <p><a ng-href="http://www.imdb.com/title/{{dramaVm.drama.imdbID}}">
                <img src="http://ia.media-imdb.com/images/M/MV5BMTgyOTIzMTA0NV5BMl5BcG5nXkFtZTcwMTA3MDg2OA@@._V1_.png" class="img-responsive inline-blocking" alt="IMDB"></a> {{dramaVm.drama.imdbRating}} from {{dramaVm.drama.imdbVotes}} votes
                <img src="http://www.metacritic.com/images/layout/mc_logo_inverted.png" class="img-responsive inline-blocking metascore-image" alt="Metascore"> {{dramaVm.drama.metascore}}</p>
            <p>Actors: {{dramaVm.drama.actors}}</p>
            <p>Director: {{dramaVm.drama.director}}</p>
            <p>Writer: {{dramaVm.drama.writer}}</p>
            <p>Plot: {{dramaVm.drama.plot}}</p>
            <p>Awards: {{dramaVm.drama.awards}}</p>
            <p>Dramaflix User Rating: {{dramaVm.drama.avgRating}}</p>
        </div>
    </div>
    <div class="comments">
        <h4><u>Comments</u></h4>
    </div>
</div>
