<div class="container search-body">
    <div class="row">
        <form action="">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search"/>
                    <select class="form-control" style="border-radius:4px 0 0 4px">
                        <option>All</option>
                        <option>Movies</option>
                        <option>TV Series</option>
                        <option disabled>──────────</option>
                        <option>Top Rated Movies</option>
                        <option>Top Rated TV Series</option>
                    </select>
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>