.alldramas-div {
    background-color: #0f0f0f;
    text-align: center;
    border: 1px solid lightgray;
    padding-top: 15px;
    font-size: small;
}

.image-settings {
    display: inline;
    border: 1px solid lightgray;
}


.each-drama-div {
    position: relative;
}

.alldramas-div img{
    width: 120px;
    height: 180px;
    margin: 2px 2px;
}


.drama-delete-button {
    position: absolute;
    top: 0;
    right: 0;
}

.drama-delete-button:hover {
    background-color: red;
    color: white;
}





@media (min-width: 768px) {
    .alldramas-div img{
        width: 130px;
        height: 200px;
        margin: 3px 2px;
    }




}