.in-dramadetails {
    background-color: #262626;
    padding: 20px;
    border: 1px solid lightgray;
    color: lightgoldenrodyellow;
}

.dramadetails-div {
    padding: 10px;
}

.poster-image {
    width: 200px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
}

.dramadetails p{
    text-align: left;
}

.dramadetails strong {
    color: #ec971f;
    font-size: 1.8em;
    text-decoration: underline;
}

.in-dramadetails span {
    color: #66afe9;
}

.metascore-image {
    width: 120px;
    border-radius: 10px;
}

.comments-div {
    border-top: 1px solid lightgray;
    padding: 15px;
}

.comments-div strong {
    color: #ec971f;
    font-size: 1.2em;
    text-decoration: underline;
}

.comments {
    border-bottom: 1px solid black;
}

.comments-wrapper {
    margin-top: 6px;
}

.comment-button-div {
    text-align: right;
}

.comment-button {
    padding: 3px 9px;
    font-size: 10px;
}





@media (min-width: 768px) {
    .comment-box {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }


}