.in-dramadetails {
    background-color: #262626;
    padding: 20px;
    border: 1px solid lightgray;
    color: lightgoldenrodyellow;
}

.dramadetails-div {
    padding: 10px;
}

.poster-image {
    width: 200px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
}

.dramadetails p{
    text-align: left;
}

.dramadetails strong {
    color: #ec971f;
    font-size: 1.8em;
    text-decoration: underline;
}

.in-dramadetails span {
    color: #66afe9;
}

.metascore-image {
    zoom: 24%;
    border-radius: 10px;
}

.comments {
    border-top: 1px solid lightgray;
    padding: 15px;
}

.comments strong {
    color: #ec971f;
    font-size: 1.2em;
    text-decoration: underline;
}

.comment {
    border-bottom: 1px solid lightgray;
}

.comment-wrapper {
    margin-top: 6px;
}



@media (min-width: 768px) {
}